registry="https://artifactory.us.caas.oneadp.com/artifactory/api/npm/caet-npm/"
@types:registry="https://artifactory.us.caas.oneadp.com/artifactory/api/npm/caet-npm/"
strict-ssl=false
proxy=null
https-proxy=null
http-proxy=null 